@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/*flexbox layout*/
.App {
    width: 100vw;
    height: 100vh; /*100% of the view height (scales entire viewable screen)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #171717, #b5b3b3);
    font-family: "Bungee";

   
}

.heading {
    color: white;
    font-size: 40px;
    margin: 30px;
    text-align: center;
}

/* when width is smaller than 800px...*/
@media (max-width: 800px) {
    .heading {
        margin: 15px 0px;
        font-size: 35px;
    }
}


